$yellow-color: #FFAE2B;
$grey-color: #ACA592;
$black-color: #181511;


body {
    font-family: 'Old Standard TT', serif;
    background-color: $black-color;
    font-weight: 400;
}

.btn {
    font-size: 11px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
}

.header {

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        
    }


    &__btn {
        color: $yellow-color;
        padding: 15px 25px;
        border: 1px solid $yellow-color;
        transition: all .3s;
        cursor: pointer;
        &:hover{
            background-color: $yellow-color;
            color:$black-color;
        }

    }
}
.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}
.menu {
    font-size: 11px;
    line-height: 24px;
    text-transform: uppercase;
    color: $grey-color;

    &__list {
        display: flex;
        gap: 40px;
    }
    &__item:hover {
        text-decoration: underline;
    }
}
.hamburger{
    display: none;
    cursor: pointer;
    margin-left: 8px;

    & span{
        display: block;
        width: 23px;
        height: 1px;
        margin: 10px auto;
        background-color: #fff;
        transition: all .3s;
    }
}



.unique {
    background-image: url(../images/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: calc(100vh - 80px);
    min-height: 500px;
    margin-bottom: 120px;

    &__inner {
        text-align: center;
        padding: 120px 20%;
    }

    &__btn {
        padding: 14px 20px 14px 24px;        
        color: $black-color;
        background-color: #FFAE2B;
        transition: all .3s;
        border: 1px solid #FFAE2B;
        &:hover{
            color: #FFAE2B;
            background-color: $black-color; 
        }
    }
}
.subtitle {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $yellow-color;
    margin-bottom: 15px;
}
.title {
    font-size: 70px;
    line-height: 80px;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 50px;
}




.pages {
    margin-bottom: 120px;
    text-align: center;
    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    &__inner-item {
        display: inline-block;
        border: 0;
        // padding: 41px;
        padding-bottom: 20px;
        border: 1px solid #4b4136;
        max-width: 387px;
    }

    &__img {
        max-width: 100%;
    }
}
.subtitle {
    &__pages {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $grey-color;
    }
}
.title {
    &__pages {
        margin-bottom: 60px;
        font-size: 60px;
        line-height: 70px;
        color: $yellow-color;
    }
}
.pages-title {
    padding-bottom: 41px;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.just-picture{
    background-image: url(../images/aside-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 470px;
    margin-bottom: 158px;
}
.service {
    margin-bottom: 120px;
    &__inner {
        display: flex;
        justify-content: center;
    }

    &__inner-column {
        border: 1px solid #4b4136;
        max-width: 400px;
        padding: 60px;
    }

    &__img {
        max-width: 100%;
    }
}
.subtitle {

    &__service {
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #ACA592;
        padding-bottom: 10px;
    }
}
.title {

    &__service {
        font-size: 60px;
        line-height: 70px;
        text-align: center;
        color: #FFAE2B;
        padding-bottom: 60px;
    }
}
.column-title {
    font-weight: 400;
    font-size: 29px;
    line-height: 40px;
    color: #FFAE2B;
    padding-bottom: 10px;
}
.main-text {
    font-size: 15px;
    line-height: 26px;    
    color: #ACA592;
    padding-bottom: 5px;
}
.not-main-text {
    font-size: 11px;
    line-height: 26px;
    color: #ACA592;
    padding-bottom: 16px;
}
.follow {
    margin-bottom: 120px;
    &__inner {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        border-top: 1px solid #4b4136;
    }

    &__inner-item {
        position: relative;
      
    }
    &__inner-item:nth-child(3){
        padding: 20px 63px;
    }
}
.follow-title{
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFAE2B;
    padding-bottom: 40px;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 48px;
}
.follow-link-btn{
    font-size: 11px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #181511;
    position: absolute;
    top: 130px;
    left: 104px;
    padding: 14px 24px;
    background-color: $yellow-color;
    transition: all .3s;
    &:hover{
        color: $yellow-color;
        background-color: #181511;
        border: 1px solid $yellow-color;
    }
}
.decor {
    position: absolute;
    top: -33px;
    right: 73px;
    z-index: 2;
}
.subscribe {
    margin-bottom: 40px;
    &__title {
        font-size: 60px;
        line-height: 70px;
        color: #FFAE2B;
        padding-bottom: 20px;
        max-width: 517px;
        margin: 0 auto;
        text-align: center;
    }

    &__text {
        font-size: 12px;
        line-height: 28px;
        color: #ACA592;
        padding-bottom: 83px;
        max-width: 578px;
        margin: 0 auto;
        text-align: center;
    }
}
.flag-yellow {
    max-width: 420px;
    height: 50px;
    background: #FFAE2B;
    padding-top: 58px;
    border: 1px solid #4b4136;
    margin: 0 auto;
}
.flag-black {
    max-width: 420px;
    height: 58px;
    background: #181511;
    border: 1px solid #4b4136;
    margin: 0 auto;
}
.subscribe-text {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #ACA592;
    padding-bottom: 20px;
    padding-top: 32px;
    max-width: 411px;
    margin: 0 auto;
    span{
        color: $yellow-color;
    }
}
.icons {
    display: flex;
    justify-content: center;
    gap: 8px;
    
}
.icon {
    padding: 14px;
    padding-bottom: 10px;
    border: 1px solid #4b4136;
    transition: all .3s;
    &:hover{
        border: 1px solid #fff;
    }
    &__img {
        max-width: 100%;
    }
}
.footer {

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 21px 0;
        border-top: 1px solid #4b4136;
    }

    &__list {
        display: flex;
        gap: 12px;
    }

    &__list-link {
        font-size: 11px;
        line-height: 30px;
        color: #FFAE2B;
    }
}
.footer-text {
    font-size: 12px;
    line-height: 22px;
    color: #ACA592;
    & span{
        color: #FFAE2B;
        cursor: pointer;
    }
}
@media(max-width:1220px){
    .last-item,
    .first-item{
        display: none;
    }
}
@media(max-width:800px){
    .hamburger{
        display: block;
        margin-left: 21%;
    }
    .hamburger.--active span:nth-child(1){
        transform: translateY(11px) rotate(45deg);
    }
    .hamburger.--active span:nth-child(2){
        opacity: 0;
    }
    .hamburger.--active span:nth-child(3){
        transform: translateY(-11px) rotate(-45deg);
    }
    .menu__list{
        flex-direction: column;
        background-color:#181511;
        height: auto;
        position: fixed;
        right: 0;
        left: 0;
        text-align: center;
        top: -100%;
        transition: all .5s;
    }
    .menu__list.--active{
        top: 80px;
    }
    .title{
        font-size: 55px;
        line-height: 60px;
    }
    .subtitle{
        line-height: 18px;
    }
    .unique__btn{
        padding: 12px 18px;
        display: inline-block;
    }
    .subtitle__pages{
        line-height: 18px;
    }
    .title__pages{
        font-size: 55px;
        line-height: 65px;
    }
    .unique{
        min-height: 100%;
    }
    .unique__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding-top: 200px;
    }
    .just-picture{
        display: none;
    }
    .service__inner-column{
        padding: 30px;
    }
    .follow__inner{
        display: none;
    }
}
@media(max-width:650px){
    .pages__inner {
        grid-template-columns: repeat(2, 1fr);
    }
    .title__service{
        font-size: 45px;
        line-height: 50px;
    }
    .subtitle__service{
        line-height: 18px;
    }
    .service__inner{
        display: block;
        margin: 0 20%;
    }
    .service__inner-column{
        margin-bottom: 25px;
    }
    .column-title{
        font-size: 20px;
        line-height: 30px;
    }
    .subscribe__title{
        font-size: 40px;
        line-height: 45px;
    }
    .subscribe__text{
        padding-bottom: 50px;
    }
}
@media(max-width:600px){
    .title{
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    .title__pages{
        font-size: 35px;
        line-height: 40px;
    }
    .pages__inner {
        display: block;
        margin: 0 auto;
    }
    .pages__inner-item{
        margin-bottom: 20px;
    }
}
@media(max-width:500px){
    .service__inner{
        margin: 0 13%;
    }
}
@media(max-width:350px){
    .header__btn{
        padding: 15px 15px;
    }
    .service__inner{
        margin: 0 10%;
    }
    .subscribe__text{
        padding-bottom: 25px;
    }
    .footer__inner{
        flex-wrap: wrap;
        margin: 0 15%;
    }
}